
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h2>Administracion de Permisos</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                <form action="demo_form.asp" method="get">



                    <table style="width:100%">
                        <tr>
                            <th>Permisos</th>
                            <th>Administrador</th>
                            <th>Desarrollador</th>
                            <th>Usuario</th>
                        </tr>
                        <tr>
                            <td>Crear Usuarios</td>
                            <td><input type="checkbox" name="vehicle" value="Bike"></td>
                            <td><input type="checkbox" name="vehicle" value="Bike"></td>
                            <td><input type="checkbox" name="vehicle" value="Bike"></td>
                        </tr>
                        <tr>
                            <td>Modificar Usuarios</td>
                            <td><input type="checkbox" name="vehicle" value="Bike"></td>
                            <td><input type="checkbox" name="vehicle" value="Bike"></td>
                            <td><input type="checkbox" name="vehicle" value="Bike"></td>
                        </tr>
                        <tr>
                            <td>Eliminar Usuarios</td>
                            <td><input type="checkbox" name="vehicle" value="Bike"></td>
                            <td><input type="checkbox" name="vehicle" value="Bike"></td>
                            <td><input type="checkbox" name="vehicle" value="Bike"></td>
                        </tr>
                        <tr>
                            <td>Consultar Usuarios</td>
                            <td><input type="checkbox" name="vehicle" value="Bike"></td>
                            <td><input type="checkbox" name="vehicle" value="Bike"></td>
                            <td><input type="checkbox" name="vehicle" value="Bike"></td>
                        </tr>
                    </table>

                </form>

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <button type="reset" class="btn btn-danger">Cancelar</button>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver", "Index", "Home")
</div>

