@{
    ViewBag.Title = "Email de confirmación";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Gracias por confirmar su correo.
        
        Por favor,
        <div class="btn btn-default">
        @Html.ActionLink("presione aquí para iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </div>
    </p>
</div>
