@{
    ViewBag.Title = "Confirmacion de Cambio de contraseña";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Se ha enviado su correo para realizar el cambio de contraseña.
    </p>
</div>
	
